html, body {
    background-color: white;
    height: 100%;
    width: 100%;
    min-height: 100%;
  }

.mainSection {
    height: 100%; /* 100% Full-height */
    width: 100%; /* Change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: auto; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content x px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    background-image: url('../img/BACnet-Logo.gif');
    background-size: 90% 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40px 20%;
}

.networkingmainSection {
    height: 100%;
    width: 100%;
}

.networkConnectButton {
    height: 20px;
    width: 80px;
    margin-top: 10px;
}

.toggleLeftSidebarButton {
    padding: 0px 0px;
    justify-content: flex-end;
    position: center;
    float: left;
    transform: translate(0%, 20%);
}

.toggleRightSidebarButton {
    padding: 0px 0px;
    justify-content: flex-end;
    position: center;
    float: right;
    transform: translate(0%, 20%);
}

.backButton {
    padding: 0px 0px;
    justify-content: flex-end;
    position: center;
    float: top;
}

.mainSidebarBackButton {
    padding: 0px 0px;
    justify-content: flex-end;
    position: center;
    float: top;
}

.bpiButton {
    margin: 0;
    position: absolute;
    top: 10px;
    transform: translate(20%, 50%);
}

.leftsidebar {
    height: 100%; /* 100% Full-height */
    width: 0%; /* Change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: auto; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content x px from the top */
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 2px;
    border-style: outset;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.rightsidebar {
    height: 100%; /* 100% Full-height */
    width: 0%; /* Change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: auto; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content x px from the top */
    border-left: -2px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: outset;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

table, th, td {
    border: 1px solid black;    
    border-collapse: collapse; 
    border-spacing: 10px;   
    margin-top: 10px;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}
